name: Uzoori Frontend Continuous Integration

on:
    push:
        branches: [ main, dev ]
    pull_request:
        branches: [ main, dev ]

env: 
    SERVER_URL: ${{ secrets.SERVER_URL }}


jobs:
    build:
        runs-on: ubuntu-latest
        strategy:
            matrix:
                node-version: [16.x]
        steps:
        - uses: actions/checkout@v3
        - name: Using Node.js ${{ matrix.node-version }}
          uses: actions/setup-node@v3
          with:
              node-version: ${{ matrix.node-version }}
              cache: 'npm'
        - run: npm i
        - run: npm run build